<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tp.sendmeal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".AltaPlato"></activity>
        <activity android:name=".CrearItem"
            android:parentActivityName=".Home"/>
        <activity android:name=".MainActivity"
            android:parentActivityName=".Home"/>

        <activity android:name=".ListaPlatos"
            android:parentActivityName=".Home"/>

        <activity android:name=".EditarPlato"/>

        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".OfertaReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>